@media (min-width: 500px) {
  .sena {
    width: 60%;
  }

  .quina {
    width: 55%;
  }
}

@media (min-width: 1000px) {
  .sena {
    width: 30%;
  }

  .quina {
    width: 27%;
  }
}

@media (min-width: 1500px) {
  .sena {
    width: 20%;
  }

  .quina {
    width: 18%;
  }
}

.grey-card {
  background-color: rgba(122, 122, 122, 0.3);
  border: 1px solid rgba(122, 122, 122, 1);
}